html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Raleway', Arial, sans-serif;
}

.masthead {
	background-color: #030303;
	width: 100%;
	padding: 2rem 15% 2rem 15%;
}

.top-nav {
	float: right;
	width: 20rem;
}

.search {
	width: 100%;
	background-color: #fff;
	float: right;
}

.social {
	display: inline-block;
}

nav {
	display: inline-block;
}

.masthead-links li {
	color: white;
	list-style-type: none;
	list-style: none;
	display: inline-block;
}

.masthead-links li:after {
	content: ' | ';
}

.main-navigation {
	background-color: #ECECEC;
	width: 100%;
	font-size: 1.4rem;
	text-align: center;
	color: #385C68;
}

.main-navigation li {
	list-style: none;
	display: inline-block;
	padding: 0 0.5rem 0 1rem;
	color: #385C68;
}

.main-navigation li:after {
	content: ' | ';
	padding: 1rem;
}

.product-overview {
	background-image: url('images/topsection-background.png');
	color: white;
	padding: 0 15% 0 15%;
	overflow: auto;
}

.product-overview h1 {
	font-weight: 100;
	font-size: 2rem;
}

.overview-photo {
	float: left;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	padding: 2rem;
	overflow: auto;
}

.product-details {
	float: left;
	padding: 0 2rem 0 2rem;
}

.product-details ul {
	list-style: none;
	list-style-type: none;
	line-height: 200%;
	text-transform: uppercase;
	padding: 0;
	font-weight: 100;
	font-size: 0.9rem;
}

.description {
	background-color: #898989;
	padding: 0 25% 0 15%;
	overflow: auto;
}

.description-photo {
	width: 470px;
	display: inline-block;
	float: left;
	padding-right: 10px;
	padding-top: 20px;
}

.description-copy{
	color: white;
	font-weight: 300;
	line-height: 150%;
	padding-left: 10px;
}

.description p {
	padding-left: 470px;
}

.reviews {
	background-color: #00314D;
	padding: 0 15% 0 15%;
	color: white;
}

.reviews h1 {
	font-weight: 100;
	display: inline-block;
	font-size: 250%;
	padding-right: 50px;
	padding-left: 150px;
}

.clearfix {
	overflow: auto;
}

.review h2 {
	display: inline-block;
	margin: 0;
}

.review p {
	padding-left: 150px;
	font-weight: 100;
	font-size: 90%;
}

.img-reviewer {
	float: left;
	border: 1px solid white;
	margin-right: 30px;
}

.link {
	text-decoration: underline;
	font-weight: 100;
}
